
## dependencies
#node_modules
#npm-debug.log
#yarn-error.log

## build output
#dist
#build

## environment files
#.env
#.env.*

## Docker stuff
#Dockerfile
#.dockerignore

## IDE / editor files
#.vscode
#.idea
#*.swp
